<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Buscar..." #searchBar (keyup)="search(searchBar.value)">
  </div>
</div>

<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let item of searchArray">
      <div class="card">
        <img [src]="item.images.length? item.images[0].url : 'assets/img-not-found.png'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <span class="badge badge-dark p-2 m-1">{{item.popularity}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
